@mixin displayFlex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


footer{
    background-color: var(--blueHDM);
    width: var(--full-width);
    height: var(--height_footer);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: var(--padding_footer) 0;
    div{
        color: white;
        p{
            margin: 0;
        }
    }
    div.sociaux{
        @include displayFlex();
        align-items: center;
        div.case_icon{
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

}