@mixin displayFlex {
    display: flex;
    align-items: center;
}

@mixin gridHeader {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

@mixin gridNav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header{
    width: 100%;
    height: var(--height_header);
    background-color: var(--blueHDM);
    @include gridHeader();
    position: relative;

    nav{        
        grid-column: 2/3;
        @include displayFlex();
        width: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5vw;

        ul{
            @include gridNav();
            overflow: hidden;
            width: 100%;
            padding: 5px 0;
            margin: 0;
            background-color: white;
            border-radius: 25px;
            position: relative;
    
            li{
                list-style-type: none;
                font-family: var(--poppins);
                font-size: 0.95rem;
                text-align: center;
                z-index: 2;
            }
            .case_toggle{
                background-color: var(--rougeHDM);
                border-radius: 20px;
                width: calc(100% / 4);
                position: absolute;
                height: calc(100% - 10px);
                top: 5px;
                bottom: 5px;
                z-index: -1;
            }
        }
    }

}
